.imgDiv{
    margin-top: 50px !important;
    /* margin-left: 10px; */
}
.aboutImg{
    max-width: 100%;
}
.pDiv{
    margin-top: 40px !important;
}
.pDiv p{
    line-height: 2;
    font-size: 18px;
    margin-left: 50px;
}