.ourCat{
    font-size: 80px;
}
.CatBox{
    position: relative;
    width: 300px;
    transition: .6s;
}
.CatImage{
    max-width: 100%;
}
.CatBox::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: .6s;
}   
.CatBox::before{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    opacity: .5;
}
.CatBox .LinkDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .6s;
}
.catLink{
    display: none;
}
.CatBox .catLink{
    background-color: rgb(33, 99, 142);
    color: white;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    padding: 40px 40px;
    border-radius: 6px;
    text-decoration: none;
    display: block;
    transition: .6s;
}